version: "3.9"
services:
  api-gateway:
    build: ./backend/api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - catalog-service
      - stock-service
    networks: [ demo ]

  catalog-service:
    build: ./backend/catalog-service
    container_name: catalog-service
    ports:
      - "8081:8081"
    networks: [ demo ]

  stock-service:
    build: ./backend/stock-service
    container_name: stock-service
    ports:
      - "8082:8082"
    networks: [ demo ]

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks: [ demo ]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./infra/grafana/provisioning:/etc/grafana/provisioning
      - ./infra/grafana/dashboards:/var/lib/grafana/dashboards
    networks: [ demo ]

networks:
  demo: {}
