server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: catalog
          uri: http://catalog-service:8081
          predicates:
            - Path=/api/catalog/**
          filters:
            - StripPrefix=2
        - id: stock
          uri: http://stock-service:8082
          predicates:
            - Path=/api/stock/**
          filters:
            - StripPrefix=2

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
